{% extends "base.html.twig" %}

{% block title %}
    Hello world!
{% endblock title %}

{% block body %}
    <h1 data-controller="example" >Hello world</h1>
    <img src="{{ asset('build/images/art_vandelay.jpg') }}" alt="Art Vandelay">
{% endblock body %}
